<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dy.hbjg">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.dy.hbjg.base.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dy.hbjg.module.loading.A_Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.dy.hbjg.module.home.A_Home" />
        <activity android:name="com.dy.hbjg.module.me.login.A_Login"  />
        <activity android:name="com.dy.hbjg.module.me.register.A_Register" />
        <activity android:name="com.dy.hbjg.module.search.A_search"   />
    </application>

</manifest>